<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirect WebSocket requests to the WebSocket server
    RewriteCond %{REQUEST_URI} ^/api/ws [NC]
    RewriteCond %{HTTP:Upgrade} =websocket [NC]
    RewriteRule ^(.*)$ ws://127.0.0.1:8080/$1 [P,L]

    # Handle other requests
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ public/index.php [L,QSA]
</IfModule>