{% extends 'base.html.twig' %}

{% block body %}
    <h1>Admin Dashboard</h1>
    <form action="{{ path('admin_upload_file') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Upload</button>
    </form>
    <ul>
        {% for file in files %}
            <li>
                <a href="{{ path('admin_download_file', {id: file.id}) }}">{{ file.name }}</a>
                <a href="{{ path('admin_delete_file', {id: file.id}) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}